body {
	font-family: "Open Sans", Lato, sans-serif;
	font-size: 13px;
}

header{
	align-items: center;
}


.wrapper{
	max-width: 1920px;
	margin: 0 auto;
}

.header-wrap{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 93px
}


.menu{
	list-style: none;
	display: flex;
	margin-left: 250px;
}

.menu-item{
	color: #868686;
	font-family: "Lato";
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	margin-left: 15px;
}

.menu-item:hover{
	color: #fff;
	background-color: #ffbb42;
	width: auto;
	height: auto;

}

.banner-bg{
	background: url("Img/baner_bg.png") no-repeat center ;
	height: 589px;
}

.banner{
	height: 710px;
}

.text-container{
	padding-top: 110px;

}

h1.lg {
	color: #ffffff;
	font-size: 35px;
	letter-spacing: -0.88px;
	text-transform: uppercase;	
	text-align: center;
}

h6.sm{
	color: #ffffff;
	text-align: center;
	line-height: 18px;
	font-weight: 300;
	font-size: 16px;
	margin-top: -25px
}

.input-group{
	display: flex;
	align-items: center;
	justify-content: center;
}

.input-item{
	width: 257px;
	height: 42px;
	padding-left: 20px;
	border: 2px solid #fff;
	background: url("Img/FullName.png") no-repeat 5px center ; 
	background-color: #fff ;
	margin-right: 10px;
}

.input-info {
	border: 1px solid #fff

}

.btn:hover{
	width: 211px;
	height: 48px;
	display: inline-block;
	line-height: 48px;
	text-align: center;
	background-color: #ffbb42;
	color: #fff;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none; 
}

.btn{
	width: 211px;
	height: 48px;
	display: inline-block;
	line-height: 48px;
	text-align: center;
	background-color: #fff;
	color: #000;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none; 
}

.slider{
	display: flex;
	align-items: center;
	padding-top: 85px; 
	justify-content: center;
}

.laptop{
	position: absolute;
	align-items: center;
	justify-content: center;
	width: 647px;
	height: 343px;

}

.desktop{
	position: relative;
	align-items: center;
	justify-content: center;
	bottom: 20px;
	left: 49px;
	width: 445px;
	height: 264px;
}

.arrows{
	margin: auto 100px;
}

.slider-group{
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	top: 190px;
	right: 230px;
}

.circle{
	border: 2px solid #dedfe0;
	border-radius: 50%;
	width: 12px;
	height: 11px;
	margin-left: 15px;
}

.circle:hover{
	border: 2px solid #1ca8dd;
	border-radius: 50%;
	width: 12px;
	height: 11px;
	margin-left: 15px;
}

.service{
	align-items: center;
	justify-content: center;
	display: flex;
	padding-top: 105px;
}

.service-header{
	text-align: center;
}

h1.service-lg{
	color: #394b50;
	font-size: 30px;
	font-weight: 900;
	letter-spacing: -0.75px;
	text-transform: uppercase;
	line-height: 22px;
}
h6.service-sm{
	color: #394b50;
	font-size: 16px;
	line-height: 22px;
	margin-top: -10px;
}

.service-line-container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 61px;
}

.service-container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 94px;
}

.service-container-item{
	height: 95px;
	width: 449px;
	margin-left: 39px;
}

.sm-text{
	height: 57px;
	color: #7b7b7b;
	font-size: 13px;
	line-height: 22px;
}

.lg-text{
	color: #394b50;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
}

.about-us{
	display: flex;
	padding-top: 74px;
}

.about-us-content{
	background : url('Img/backgroundorange.png') no-repeat ;
}

.about-us-text-container{
	margin-top: 164px;
	margin-left: 80px;
}

.about-us-title{	
color: #ffffff;
font-size: 30px;
line-height: 22px;
text-transform: uppercase;
/* Text style for "ABout us" */
letter-spacing: -0.75px;
}

.about-us-text{
	width: 505px;
	height: 157px;
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
}

.about-us-btn{
	width: 145px;
	height: 46px;
	border: 1px solid #e7ad48;
	background-color: transparent;
	display: inline-block;
	text-align: center;
	line-height: 46px;
	text-transform: uppercase;
	text-decoration: none; 
	color: #ffffff;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	margin-top: 33px;
}